* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f8f8f8;
    padding-top: 0.1px;
}

nav {
    width: 100%;
    margin-top: 2vw;
    height: 13vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

nav h1{
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: monument;
    position: relative;
}

nav h1::after{
    position: absolute;
    top: 0;
    content: "©";
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: monument;
}
#hamburger{
    display: none;
}

nav h2{
    width: 100%;
    font-size: 21px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
}
nav h2:nth-child(5){
    width: 60%;
    border-right: none;
}


#hero{
    width: 100%;
    height: 90vh;
    padding: 3vw;
    position: relative;
}

#content{
    width: 100%;
    height: 100%;
    position: relative;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#overlay{
    height: 53%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;
}
#over1 h1{
    font-family: monument;
    font-size: 4.25vw;
    font-weight: 700;
    letter-spacing: 2px;
}

#circle{
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 4px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 2vw 0vw;
}
#over2 h2,i{
        font-weight: 400;
}

#sec1 {
    overflow: hidden;
    margin: 2vw 0vw;
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.img-container {
    width: fit-content;
    display: inline-block;
    height: 200px;
    animation: slide 14s linear infinite;
}

.img-container img{
    width:160px;
    border-radius: 50%;
    margin: 2vw;
    height: 160px;
    object-fit: cover;
    object-position: center;

}

@keyframes slide {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


#sec2{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

#left-img{
    width: 100%;
    height: 100%;
    padding: 2vw 5vw;
}

#right {
    width: 100%;
    height: 100%;
    padding: 2vw 3vw;
}

#left-img>img{
    width: 90%;
    height: 66.5%;
    object-fit: cover;
    object-position: top;
}


#right>#right-img>img{
    width: 100%;
    height: 50%;
}

#right-content{
    margin-top: 5vw;
    display: flex;
    gap: 5vw;
}
#right-content>p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lucida Sans';
    opacity: 0.6;
}
#right-content>h1{
    font-size: 2vw;
    font-family: monument;
}

#sec3 h1{
    padding: 2vw 3vw 0vw 3vw;
    text-transform:uppercase;
    font-family: monument;
    letter-spacing: 2PX;
    font-style: italic;
}
#main-contents{
    display: grid;
    grid-template-columns: 42% 58%;
}

#right3{
    padding: 2vw 3vw;
}
#main-contents #right3>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#left3{
    display: grid;
    grid-template-rows: 77% 23%;
    padding: 0vw 3vw;
}
#left3>#arrows3{
    display: flex;
    align-items: center;
    justify-content: center;
}

#left3>#text3{
   font-size: 16px;
    font-weight: 800;
    opacity: 0.7;
    font-family:system-ui;
    font-style: italic;
}


#sec4{
    width: 100%;
    /* height: 90vh; */
    padding: 3vw 5vw;
}
#sec4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


#page3{
    height: 100%;
    width: 100%;
    padding: 5vw 3vw;
}
#page3>h1{
    font-family: monument;
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.elem{
    height: 19vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    position: relative;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}


.elem>h1{
    width: 10%;
   font-family: monument;
   font-weight: 200;
   font-size: 2vw;
}

#elem-part2 h2{
    font-size: 2.5vw;
    font-weight: 200;
    text-align: left;
}

#elem-part2 h4 {
    font-size: 0.8vw;
    font-weight: 100;
}

.elem img{
    position: absolute;
    left: 15%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem:hover img{
    opacity: 1;
    left: 25%;
}


#marquee{
    margin-top: 8vw;
    padding: 1vw 3vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
}
#marquee h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    font-family: monument;
    margin-right: 12px;
    animation: move 8s linear infinite;
    letter-spacing: 6px;

}

@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#final-page{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 3vw;
}

#container-div1>h1{
    font-size: 2vw;
    font-family: monument;
    font-weight: 600;
}

#container-div2{
    padding: 2vw 3vw;
}
#container-div3 {
    padding: 2vw 3vw;
}

#final-page p{
    font-size: 18px;
    opacity: 0.8;
    letter-spacing: 1.5px;
}

#container-div2 img{
    margin-top: 2vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
#container-div3 img {
    margin-top: 3vw;
    width: 100%;
        object-fit: cover;
            object-position: center;
}

#footer{
    width: 100%;
    height: 40vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2vw 0vw;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}


#footer h1 {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: monument;

}

#sec1-footer{
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #000;
}
#footer h2 {
    padding: 2vw 3vw;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: monument;
    border-right: 2px solid #000;

}

#sec3-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sec3-footer h3{
    width: 100%;
    height: 50%;
    font-size: 25px;
    padding: 4vw;
    border-bottom: 2px solid #000;
}

#social-links{
    width: 100%;
    padding: 3vw;
    font-size: 2vw;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#social-links i:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all ease 0.7s;
}





/* //media queries */

@media (max-width:600px) {
    nav {
            width: 100%;
            margin-top: 2vw;
            height: 13vh;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px;
        }
    
        nav h1 {
            font-size: 30px;
            letter-spacing: -1px;
            font-weight: 800;
            font-family: monument;
            position: relative;
        }
    
        nav h1::after {
            position: absolute;
            top: 0;
            content: "©";
            font-size: 20px;
            letter-spacing: -1px;
            font-weight: 800;
            font-family: monument;
            
        }
    
        nav h2 {
            width: 100%;
            display: none;
        }
        #hamburger{
            display: inline;
            font-size: 26px;
            cursor: pointer;
        }


#hero {
    width: 100%;
    height: 45vh;
    padding: 3vw;
    position: relative;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
}

#content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#overlay {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1vw;
}
#over2 h2{
    font-size: 16px;
}

#sec1 {
    overflow: hidden;
    margin: 2vw 0vw;
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.img-container {
    width: fit-content;
    display: inline-block;
    height: fit-content;
    animation: slide 14s linear infinite;
}

.img-container img {
    width: 80px;
    border-radius: 50%;
    margin: 2vw;
    height: 80px;
    object-fit: cover;
    object-position: center;

}
#sec2 {
    margin-top: 7vw;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

#right-content>p {
    font-size: 8px;
    font-weight: 400;
    font-family: 'Lucida Sans';
    opacity: 0.6;
}

#left3 {
    display: grid;
    grid-template-rows: 57% 43%;
    padding: 0vw 3vw;
}

#left3>#arrows3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left3>#text3 {
    font-size: 9px;
    font-weight: 600;
    opacity: 0.7;
    font-family: system-ui;
    font-style: italic;
}

#sec4 {
    margin-top: 6vw;
    width: 100%;
    padding: 3vw 5vw;
}

#page3 {
    width: 100%;
    height: 43%;
    padding: 5vw 3vw;
}

#page3>h1 {
    font-family: monument;
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.elem {
    height: 8vh;
}


#marquee h1 {
    font-size: 8vw;

}

#final-page {
    margin-top: 4vw;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    padding: 3vw;
}

#container-div1{
grid-column-start: 1;
    grid-column-end: span 2;
}


#final-page p {
    font-size: 12px;
    opacity: 0.8;
    letter-spacing: 1.5px;
}

#container-div2 img {
    margin-top: 2vw;
    width: 100%;
    height:300px;
    object-fit: cover;
    object-position: center;
}

#footer {
    width: 100%;
    height: 30vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 8vw 0vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

#sec1-footer {
    grid-column-start: 1;
    grid-column-end: span 2;
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#footer h2 {
    padding: 2vw 3vw;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: monument;
    border-right: 2px solid #000;

}

#sec3-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sec3-footer h3 {
    width: 100%;
    height: 50%;
    font-size: 15px;
    padding: 4vw;
    border-bottom: 2px solid #000;
}

#social-links {
    width: 100%;
    padding: 3vw;
    font-size: 2vh;
}

#social-links i:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all ease 0.7s;
}

}